#header {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  position: relative;

  box-shadow: var(--box-shadow);
  border-radius: 0;
  width: 100%;
  /* height: 30px; */
}
.header-link{
display: flex;
justify-content: flex-start;
margin-left: 5px;
}

.header-item {
  display: flex;
  align-items: center;
  margin: 3px 0;
  padding-inline: 5px;

}

.header-onglet{

background-color: var(--nuance);
/* padding-inline: 5px; */
border-radius: 5px;
}
.active {
  background-color: var(--nuance);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  /* border: 1px solid var(--vert); */
  border-bottom: 3px solid var(--vert);
  color: var(--vert);
  padding-inline: 5px;
  box-shadow: 0 0px 1px hsl(0deg 0% 0% / 20%), 0 1px 2px hsl(0deg 0% 0% / 20%);
}